* {
  margin: 0;
  padding: 0;
  box-sizing: 50;
}

.index {
  position: absolute;
  top: 40px;
  right: 200px;
}

footer {
  width: 100%;
  background: #212c65;
  color: #000000;
}
.contenedor-de-todo-footer {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  background: #212c65;
}

.contenedor-body {
  display: flex;
  justify-content: space-between;
}

.prod {
  position: absolute;
  top: 40px;
  right: 100px;
}

.ref {
  position: absolute;
  top: 40px;
  right: 16px;
}

body {
  background-color: #01a1dd;
  padding: 100;
}

nav {
  background-color: #212c65;
  position: static;
  top: 0px;
  padding: 20px;
}

.colum2 {
  max-width: 400px;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
}

body > * {
  margin-bottom: 50px;
}

body {
  background-color: #212c65;
}

.home {
  display: flex;
  border: 1px salmon;
  justify-content: space-around;
  flex-direction: row-reverse;
  text-align: end;
}

.producto {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 50px;
  text-align: end;
  margin: top;
}

.contacto {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  text-align: end;
  margin: top;
}

nav {
  padding: 50px;
  background-color: #01a1dd;
  position: sticky;
  top: 20px;
}

h1 {
  font-size: x-large;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  width: 100%;
  justify-content: flex-start;
  margin: 0cm;
}

.formu {
  display: flex;
  justify-content: flex-start;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;

  border-radius: 1em;
}
----- label {
  font-family: "Comic Sans";

  display: inline-block;
  width: 60px;
  padding: 10px;
}

input,
textarea {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.icons2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.icons2 img {
  margin-top: 15px;
  width: 56px;
  height: 56px;
}

.icons2 label {
  margin-left: 20px;
  max-width: 120px;
  margin-top: 10px;
}

.contenedor-body2 {
  height: 5px;
  width: 1950px;
  background: #000000;
  display: flex;
  padding: 19px;
  justify-content: space-around;
}

.copyright {
  color: #212c65;
}

.copyright a {
  color: #212c65;
}

.politica a {
  color: #212c65;
}
