* {
  margin: 0;
  padding: 0;
  box-sizing: 50;
}

.index {
  position: absolute;
    top: 40px;
    right: 200px;
}

.prod {
  position: absolute;
  top: 40px;
  right: 100px; 
  }
  
  .ref {
    position: absolute;
    top: 40px;
    right: 16px; 
 
}

body {

  background-color: #01a1dd;
  padding: 100;
}

nav {
 background-color:  #212C65;
 position: static;
 top: 0px;
 padding: 20px;
}
a {
 text-decoration: none;
 color:white;
}
